{% extends 'base.html' %}
{% block title %}Home page{% endblock title %}
{% block link %}

{% endblock link %}
{%block css%}



.center{

  position: relative;
  text-align: center;
  margin:40px;
  
}
.center .title{
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.center .sub_title{
  color:#111e2d;
  font-size: 24px;
  font-weight: 600;
}
  .center button{
    width: 170px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid ;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow:hidden;

  }
  .center span{
    background: #382fb5;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .center button:hover span{
    width: 100%;
  }
.center button:hover{
border: none;

}
  
.crd-box{
  padding:3%;
  display:flex;
  flex-flow:row;
  flex-wrap:wrap;
}
.card {
  margin:30px;
  position: relative;
  width: 320px;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
}
.card1{
  background-image: url('media/images/home1.jpg');
}
.card2{
  background-image: url('media/images/home2.jpg');
}
.card3{
  background-image: url('media/images/home3.jpg');
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 320px;
  height: 360px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}





.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}




{%endblock%}

{% block body %}
  <div>
    <div class="center">
     <div class="title">Create immersive event experiences with ease</div>
     <div class="sub_title">Anyone, Anywhere, Anytime</div>
     <div class="buttons" style="margin-top:20px">
      {% if user.is_authenticated %}
      <a  href="/user/events"><button type="button"><span></span>Book Events</button></a>
      <a  href="/organizerDashboard"><button type="button"><span></span>Create Events</button></a>
      {% else%}
      <a href="/loginpage"><button type="button"><span></span>Book Events</button></a>
        <a href="/loginpage"><button type="button"><span></span>Create Events</button></a>
      {% endif%}
     </div>
  </div>
  <div class= "crd-box">
    <div class="card  card1">
      </div>
    <div class="card card2">
      </div>
    <div class="card card3">
      </div>
    </div>
  </div>
 {% endblock %}
 {% block js %}
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script>

 </script>
 

  {% endblock js %} 